/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  font-family: "Times New Roman", Times, serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
html{
  height:100%;
  
}
body {
  /*background-image: linear-gradient(to bottom right, #993263, #091F48);*/
  margin-bottom: 50px;
  background-color: white;
}


