@import '~bootstrap/dist/css/bootstrap.min.css';

.container {
  text-align: center;
  margin-top: 100px;
}

.btn {
  background-color: #2B4F94;
  white-space: nowrap;
 
}
  .btn:active {
    border: none;
    outline: none;
    outline-style: none !important;
    
  }
  .btn:hover {
    border: none;
    outline: none;
    outline-style: none !important;
  }
  .btn:focus {
    border: none;
    outline: none;
    outline-style: none !important;
  }
.btn-main {
  background-color: #0F0F3D;
}
label{
  padding-top:7px;
  font-size:20px;
  color: white;
}
#top_label {
  background-color: #2B6DCC;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 85px;
}
#btn-top {
  border-radius: 0px;
  border: none;
}
input[type=text], input[type=password], select {
  width: 270px;
  padding: 5px 0;
  margin-bottom: 10px;
  padding-left: 20px;
  outline: none;
  border: none;
  background-color: rgb(232, 240, 254) !important;
}
  input[type=text]:focus{
    border:none;
  }
  #submit-btn {
    border-radius: 20px;
    border: none;
    width: 270px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

#section {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  border:solid 1px lightgrey;
  border-radius: 10px;
  padding-bottom: 50px;
 
}
#bottom_label {
  margin-top: 30px;
  margin-right: 50px;
}
.bootom_links {
  color: black;
  font-size: 12px;
  margin-left: 5px;
  padding: 0;
}
input, select, select:after {
  border-radius: 20px;
}

span{
  color:lightcoral;
}

#inputs{
 margin:40px 0 20px 0;
}
#line {
  border-left: solid 1px black;
  padding-left: 5px;
}
