<div class="constainer">
  <div class="d-inline-block col-6 text-center">
    <div >
      <p>
        Data tranzakcji:
        <label>
          {{transaction.dateTime[2]}}-{{transaction.dateTime[1]}}-{{transaction.dateTime[0]}}
          {{transaction.dateTime[3]}}:{{transaction.dateTime[4]}}:{{transaction.dateTime[5]}}
        </label>
      </p>
    </div>
    <div >
      <p>
        Odbiorca:
        <label> {{transaction.sendToAccount}}</label>
      </p>
    </div>
    <div >
      <p>
        Typ tranzakcji:
        <label> {{transaction.type}}</label>
      </p>
    </div>
  </div>
  <div class="d-inline-block col-6 text-center">
    <div>
      <p>
        Opis:
        <label> {{transaction.description}}</label>
      </p>
    </div>
    <div>
      <p>
        Kwota tranzakcji:
        <label> {{transaction.amount}} PLN</label>
      </p>
    </div>
    <div>
      <p>
        Wysłane z konta:
        <label> {{account.accountNumber}}</label>
      </p>
    </div>
  </div>
  <div class="text-center col-12">
    <button class="btn " routerLink="/account">Powrót</button>
  </div>
</div>
