
<div class="container">
  <div id="options">
    <div class="row">
      <ul class="list-inline">
        <li class="list-inline-item" (click)="showSecondOptions('Tranzakcje')">Tranzakcje</li>
        <li class="list-inline-item" (click)="showSecondOptions('Rachunki')">Rachunki</li>
        <li class="list-inline-item" (click)="showSecondOptions('Karty')">Karty</li>
        <li class="list-inline-item" (click)="showSecondOptions('Oszczędności')">Oszczędności</li>
        <li class="list-inline-item" (click)="showSecondOptions('Kredyty')">Kredyty</li>
        <li class="list-inline-item" (click)="showSecondOptions('Inwestycje')">Inwestycje</li>
        <li class="list-inline-item" (click)="showSecondOptions('Ubezpieczenia')">Ubezpieczenia</li>
        <li class="list-inline-item" (click)="showSecondOptions('Oferty i wnioski')">Oferty i wnioski</li>
      </ul>
    </div>

    <div class="row" *ngIf="isOn">
      <div *ngIf="actuallOptions == 'Tranzakcje'">
        <button class="btn btn-options " routerLink="/recipient">Odbiorcy zdefiniowani</button>
        <button class="btn btn-options " routerLink="/transfer">Przelewy</button>
        <button class="btn btn-options " >Płatności cykliczne</button>
        <button class="btn btn-options " >Doładowania</button>
        <button class="btn btn-options " >Więcej</button>
      </div>
      <div *ngIf="actuallOptions == 'Rachunki'">

        <button class="btn btn-options " routerLink="/transactions/{{account.id}}" *ngFor="let account of accounts">{{account.accountName}}<br />{{account.amount}} PLN</button>
        <button class="btn btn-options " routerLink="/add_new_account">Nowy rachunek</button>
      </div>
      <div *ngIf="actuallOptions == 'Karty'">
        <button class="btn btn-options " >Nowa Karta</button>
      </div>
      <div *ngIf="actuallOptions == 'Oszczędności'">
        <button class="btn btn-options " >Nowy produkt</button>
      </div>
      <div *ngIf="actuallOptions == 'Kredyty'">
        <button class="btn btn-options " >Raport BIK</button>
        <button class="btn btn-options " >Pożyczka Gotówkowa</button>
        <button class="btn btn-options " >Nowy kredyt lub pożyczka</button>
      </div>
      <div *ngIf="actuallOptions == 'Inwestycje'">
        <button class="btn btn-options " >Usługi Maklerskie</button>
        <button class="btn btn-options " >Fundusze Inwestycje</button>
        <button class="btn btn-options " >OFE</button>
        <button class="btn btn-options " >Więcej</button>
        <button class="btn btn-options " >Nowa Inwestycja</button>
      </div>
      <div *ngIf="actuallOptions == 'Ubezpieczenia'">
        <button class="btn btn-options " >Archiwum polis</button>
        <button class="btn btn-options " >Oferta ubezpieczeń</button>
        <button class="btn btn-options " >Nowe ubezpieczenie</button>
      </div>
    </div>
  </div>
  </div>
